[package]
name = "codestats"
version = "0.3.1"
authors = ["Quin Gillespie <trypsynth@gmail.com>"]
description = "A CLI tool for analyzing code statistics across different programming languages"
keywords = ["code", "analysis", "cli", "tool"]
categories = ["command-line-utilities", "development-tools", "filesystem"]
repository = "https://github.com/trypsynth/codestats"
homepage = "https://github.com/trypsynth/codestats"
readme = "README.md"
license = "Zlib"
edition = "2024"
rust-version = "1.85.1"

[[bin]]
name = "codestats"
path = "src/main.rs"

[dependencies]
aho-corasick = "1.1.4"
anyhow = "1.0.100"
clap = { version = "4.5.53", default-features = false, features = ["std", "derive", "help", "usage"] }
globset = "0.4.18"
ignore = "0.4.25"
memchr = "2.7.6"
memmap2 = "0.9.9"
minijinja = { version = "2.12.0", default-features = false, features = ["builtins", "serde"] }
serde = { version = "1.0.228", default-features = false, features = ["std", "derive"] }
serde_json = { version = "1.0.145", default-features = false, features = ["std"] }

[build-dependencies]
indexmap = { version = "2.12.1", features = ["serde"] }
json5 = "0.4.1"
serde = { version = "1.0.228", default-features = false, features = ["std", "derive"] }

[profile.release]
strip = true
opt-level = 3
lto = "fat"
panic = "abort"
codegen-units = 1
