[package]
name = "codestats"
version = "0.3.0"
authors = ["Quin Gillespie <trypsynth@gmail.com>"]
description = "A library and CLI tool for analyzing code statistics across different programming languages"
keywords = ["code", "analysis", "cli", "tool", "library"]
categories = ["command-line-utilities", "development-tools", "filesystem"]
repository = "https://github.com/trypsynth/codestats"
homepage = "https://github.com/trypsynth/codestats"
documentation = "https://docs.rs/codestats"
readme = "README.md"
license = "Zlib"
edition = "2024"
rust-version = "1.85.1"

[[bin]]
name = "codestats"
path = "src/main.rs"

[lib]
name = "codestats"
path = "src/lib.rs"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.52", features = ["derive"] }
ignore = "0.4.25"
phf = { version = "0.13", features = ["macros"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"

[build-dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"

[profile.release]
strip = true
opt-level = "z"
lto = true
panic = "abort"
codegen-units = 1
